@model IEnumerable<CoolBibleVerses.Models.BibleVerse>

@{
    ViewData["Title"] = "Index";
}

<h1>All Verses</h1>
<p></p>
<p>
    <a asp-action="Create" class="button-primary">Create New</a>
</p>
<form asp-action="ShowSearchResults">
    <div>
        <label for="SearchTerm">Search for verse:</label>
        <input name="SearchTerm" class="form-control" style="width:75%" /> 
    </div>
    <div>
        <p></p>
        <input type="submit" value="Search" class="button-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                Tags
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                <div class="verse-table-cell cut-text">
                    @Html.DisplayFor(modelItem => item.Details)
                </div>
            </td>
            <td>
                <div class="verse-table-cell cut-text">
                    @Html.DisplayFor(modelItem => item.Text)
                </div>
            </td>
            <td>
                @{int curTag = 0;}
                @foreach (var tag in item.VerseTags)
                {
                        
                    if (curTag > 0)
                    {
                        <span> @tag.Tag</span>
                    }
                    else
                    {
                        <span>@tag.Tag</span>
                    }
                    curTag++;
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
